@import url(_reset.css);
@import url(_variaveis.css);
@import url(../componentes/statusBar/_statusBar.css);
@import url(../componentes/Avatar/_avatarDoutor.css);
@import url(../componentes/Avatar/_avatarPaciente.css);
@import url(../componentes/Cards/card.css);
@import url(../componentes/Botao/botao.css);
@import url(../componentes/Nav/nav.css);
@import url(../componentes/Botao/botaoFutuante.css);
@import url(../base/fonteFace.css);
@import url(../componentes/CadastrarConsulta/cadastrarConsulta.css);
@import url(../componentes/Formulario/formulario.css);



main {
    margin-bottom: 3rem;
}


.container {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 1rem;
    font-weight: var(--peso-titulo);
    margin-bottom: 1rem;
    margin-left: 1rem;
}
footer{
    display: none;
}




@media screen and (min-width: 740px) {
    .container {
        display: grid;
        grid-template-columns: 1rf 1rf;
        justify-content: space-between;
        padding: 1rem;
    }

    h3 {

        grid-column: 1/3;
    }


}

@media screen and (min-width: 1024px) {

    main {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 10% 80%;
        grid-template-areas:
            "menu doutor "
            "menu container "
            "menu container ";
            margin-bottom: 0;
    }

    nav {
        grid-area: "menu";
    }


    .container {
        grid-area: "container";
    }

    h3 {
        grid-column: 1/4;
    }
    footer {
        background-color: var(--branco);
        display: block;
        padding: 2rem;
    }

  
    body::-webkit-scrollbar {
        background-color: var(--cinza);
        width: 0.5rem;
    }

    body::-webkit-scrollbar-thumb,
    body::-webkit-scrollbar-button {
        background-color: var(--cor-texto);
        border-radius: 0.5rem;
    }

  


}