.ligar {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    text-align: center;
}

button {
    background-color: var(--cor-botao);
    border: none;
    color: var(--branco);
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.25rem 1rem rgba(255, 176, 80, 0.16);
    font-size: 0.875rem;
    font-weight: var(--peso-subtitlo);
    padding: 1rem;
}

.btn__audio {
    background: none;
    border: 1px solid var(--cor-borda);
    color: var(--cor-texto);
}

.btn-endereco {
    background-color: var(--azul);
    box-shadow: 0rem 0.25rem 1rem rgba(72, 148, 255, 0.16);
    border: none;
    border-radius: 8px;
    color: var(--branco);
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: var(--peso-subtitlo);
    height: 3rem;
    width: 18.5rem;
}