
.cadastrar__consulta button, .btn__flutuante-primario {
    background-color: var(--azul);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
}


.btn__flutuante-primario {
    background-image: url(../../../icones/maisicone.svg);
    transition: box-shadow 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn__flutuante-consultaVideo {
    background-image: url(../../../icones/Camerafab.svg);
}

.btn__flutante-cadastrar-consultaLocal {
    background-image: url(../../../icones/pinfabiconee.svg);
}


